@font-face {
  font-family: "Proxima Nova";
  src: url(./assets/fonts/ProximaNova-Regular.ttf);
}

body {
  background: url(./assets/images/Layer\ 4\ copy@1X.png);
  background-size: cover;
  font-family: "Proxima Nova";
}

.registration {
  width: 30%;
  margin: 0 auto;
  margin-top: 5%;
  padding: 5%;
  background-color: rgba(17,23,27,.7)
}

.registration--tabs--radio {
  display: none;
}

.registration--tabs--label {
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  margin-right: 5%;
  cursor: pointer;
}

.registration--tabs--radio:checked + .registration--tabs--label {
  border-bottom: 3px solid #ffab1a;
}

.registration--form {
  display: none;
}

.signIn__button:checked ~ .signIn__form {
  display: flex;
  flex-direction: column;
}

.signUp__button:checked ~ .signUp__form {
  display: flex;
  flex-direction: column;
}

.registration--form--field {
  outline: none;
  font-family: "Proxima Nova";
  width: 100%;
  margin-top: 15%;
  background-color: transparent;
  border: none;
  color: #ffffff;
  border-bottom: 1px solid #fbfbfb;
}

.registration--form--field::placeholder {
  font-size: 17px;
  color: #ffffff;
}

.registration--form--checkbox {
  display: none;
}

.registration--form--checkbox--label {
  margin-top: 10%;
  font-size: 15px;
  color: #ffffff;
  position: relative;
  cursor: pointer;
}

.registration--form--checkbox--label:before {
  content:'';
  background-color: #215AA7;
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.registration--form--checkbox:checked + .registration--form--checkbox--label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 5px;
  width: 6px;
  height: 9px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.registration--form--submit {
  width: 45%;
  height: 39px;
  border-radius: 20px;
  background-color: #f57f17;
  margin: 0 auto;
  margin-top: 10%;
  outline: none;
  border: none;
  font-family: "Proxima Nova";
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.registration--form--submit:active {
  transform: translateY(2px);
}

.registration--form--link {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  margin-top: 5%;
}

@media screen and (max-width: 800px) {
  .registration {
    width: 45%;
  }
  .registration--form--submit {
    width: 80%;
  }
}

@media screen and (max-width: 630px) {
  .registration {
    width: 60%;
  }
}

